* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .formBody {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.form {
  width: 50%;
  background-color: whitesmoke;
  padding: 2rem;
}
Label {
  margin-top: 1rem;
  color: gray;
}
.btn {
  margin-top: 1.5rem;
  width: 100%;
  background-color: seagreen;
} */
.form_body {
  background-color: #fbf8f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85vh;
  align-items: center;
  /* box-shadow: 2px solid black; */
  /* font-family: "Inter"; */
  /* margin-top: -5rem; */
  overflow: hidden;
}
.form {
  width: 420px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  border-radius: 3px;
  box-shadow: 2px solid black;
}
.input {
  /* min-width: 100px; */
  /* max-width: 380px; */
  /* padding: 20px 0; */
  /* padding-left: 15px; */
  margin-bottom: 10px;
  font-size: 15px;
  /* outline: none; */
  border: none;
  background-color: #f8f9fa;
  /* margin-right: 1rem; */
}

/* #button {
  background-color: #d6ad61;
  font-weight: 600;
  border: 0;
} */
h3 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}
.link {
  /* color: black; */
  display: inline-block;
  margin-top: 1rem;
  margin-right: -0.5rem;
  font-size: 1.1rem;
}
span {
  text-align: center;
}
.form-group label {
  color: var(--black-color);
  margin-top: 0.8rem;
}
p {
  font-size: 1rem;
  color: darkred;
}
.form_heading {
  font-weight: 600;
  justify-content: center;
}

.verified-email {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
  line-height: 4;
}

.verified-email .icon {
  font-size: 8rem;
}

.verified-email .success {
  color: rgb(9, 129, 9);
}

.linkForLogin {
  font-size: 1.5rem;
  color: black;
  /* margin-top: -4rem; */
}
.resend:hover {
  cursor: pointer;
}
.resnd_sms {
  font-size: 0.8rem;
}

.form_body .success {
  color: green;
  font-size: 0.8rem;
  font-weight: 600;
}
